<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Larva.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LarvaWatchApp Watch App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LarvaWatchApp Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90B26A302FC325E7003BB893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B26A3D2FC325E7003BB893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B26A472FC325E7003BB893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DC9CDE2FC83D0800D1070C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DC9CEA2FC83D0800D1070C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DC9CF42FC83D0800D1070C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
